<!doctype html>
<html >
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta http-equiv='cache-control' content='no-cache'>
<link rel="icon" href="{{ url_for('static',filename='svg/protos.svg') }}">
<title>AIRA</title>
<script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
<script type="text/javascript"  src=" {{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
<link rel="stylesheet" type="text/css"   href= "{{ url_for('static',filename='css/protos.css') }}"/>
<link rel="stylesheet" type="text/css"   href= "{{ url_for('static',filename='css/home.css') }}"/>
   <script> 
    $(document).ready(function() {
        $('#tbName').on('input change', function() {
            if($(this).val() != '') {
                $('#submit').prop('disabled', false);
            } else {
                $('#submit').prop('disabled', true);
            }
        });
    });
   </script>
  
</head>
<body>
    <div class="">
    <div class="headerbar row">
      <a href="javascript:void(0);" class="icon" data-toggle="modal" data-target="#exampleModal" id="hamburger">
        <img src="{{ url_for('static',filename='svg/hamburger.svg') }}">
      </a>    
        <a  class="headerbar-right logout" href="/logout"><img src="{{ url_for('static',filename='svg/logout.svg') }}"></a>   
        <a  class="plogo headerbar-right" href="/"><img src="{{ url_for('static',filename='svg/protoslogo.svg') }}"></a>     
      </div>
<div data-content-area>
    <div data-products>
        <div data-product>
            <div data-product-description>
              We have an in house Research and Development team working on Artificial Intelligence based Radiology Assistant Tools 
            </div>
            <!-- <center>
                <video width="700" height="500" controls autoplay id="videoid">
                <source src="{{ url_for('static',filename='video/protos.mp4') }}" type="video/mp4">
                Your browser does not support the video tag.
              </video>
            </center>  -->
            <div style="margin-top:80px"></div>          
        </div>
    </div>
</div>
<div class="col-lg-6">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        <div class="load-bg d-none">
            <div class="container_load d-none">
                <div class="ring"></div>
                <div class="ring"></div>
                <div class="ring"></div>
                <span class="loading">Loading...</span>
            </div>
          </div>      
       </div>    
        {% else %}
            <div class="load-bg">
                <div class="container_load">
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <div class="ring"></div>
                    <span class="loading">Loading...</span>
                </div>
            </div>
            
	  {% endif %}  
	{% endwith %}
</div>
<!-- <div data-description>
    <p>Aramis provide state of the art radiology and healthcare technology services to the industry at all access
        points.</p>
    <p>Our products include Ocular: high performance web based radiology DICOM viewer, quantSynth: quantitative MRI
        and synthetic MR app and Radium: web based
        radiology
        information system.</p>
</div>
<div data-aramis-cr>
    Copyright © 2022 Aramis Imaging LLP
</div> -->
<div class="modal left fade" id="exampleModal" tabindex="" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            <div class="modal-body">
                <div class="nav flex-sm-column flex-row">
                    <form method="post" action="/view"  class="dflex" enctype="multipart/form-data" onsubmit="showLoader()">
                        <dl>
                        <p data-file>
                            <input type="file" name="file" autocomplete="off" required  id="tbName" accept=".gz,.nii,.dcm,.zip,.IMA,.rar" multiple="multiple">                          
                        </p>
                        </dl>
                        <p>
                            <button type="submit" name="submit" id="submit" disabled="disabled" data-btns>View</button>
                        </p>                    
                    </form>            
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</body>
    <script>
        function showLoader() {
            let intialLoader = document.getElementsByClassName("container_load");
            (intialLoader)  && (intialLoader[0].style.display = "flex");
            let intialLoaderBg = document.getElementsByClassName("load-bg");
            (intialLoaderBg)  && (intialLoaderBg[0].style.display = "block");
            let secondLoaer = document.getElementsByClassName("d-none");
            (secondLoaer)  && (secondLoaer[0].style.display = "flex");
            let responseRow = document.getElementById("responseRow");
            (responseRow) && (responseRow.innerHTML = " ");
        }       
    </script>
</html>


